

.likeButton{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: rgb(255, 210, 218);
  margin: 5px;
  flex: auto;
}

.likeButton:hover{
  box-shadow: 0px 0px 10px rgb(255, 0, 34);
}

.commentButton{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: rgb(255, 210, 218);
  margin: 5px;
  flex: auto;
}

.commentButton:hover{
  box-shadow: 0px 0px 10px rgb(255, 0, 34);
}

.editLink{
  float: right;
}

.editLink img{
  width: 10%;
  float: right;
  filter: invert(87%) sepia(10%) saturate(7486%) hue-rotate(296deg) brightness(105%) contrast(102%);
}