.post_card{
    order: 1;
  margin: 20px;
  width: 15%;
  height: 300px;
  padding: 30px;
  text-align: center;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(255, 188, 218, 0.787); 
  font-size: 1vw;
}