.root{
  background-color: rgb(255, 255, 255);
}

.title{
  text-align: center;
  color: rgb(255, 149, 149);
  background-color: rgb(255, 234, 238);
  width: 90%;
  border-radius: 30px;
  margin-top: 20px;
  margin: auto;
  padding: 20px;
}

.shopDisplays{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  background-color: rgb(255, 234, 238);
  width: 90%;
  margin: auto;
  border-radius: 50px;
  padding: 20px;
}

.post_card{
  order: 1;
  margin: 20px;
  padding: 30px;
  text-align: center;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(255, 188, 218, 0.787); 
  font-size: 1.5 vw;
  width: 25%;
}

.newPost{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: rgb(255, 210, 218);
  margin: 10px;
}

.newPost:hover {
  border-color: #ffa9a9;
}

.newPostCard{
  order: 1;
  margin: 20px;
  padding: 30px;
  text-align: center;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(255, 188, 218, 0.787); 
  font-size: 1.5 vw;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.newPostCard label{
  color: #ffa9a9;
}

.newPostCard input{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: rgb(255, 210, 218);
  margin: 10px;
  flex: auto;
}